*{
padding : 0;
margin : 0;
border : 0;
}
body{

background-attachment : fixed;
background-size : 100% auto;
    
   
}
h1.appPage{
    
    display: block;
    font-size: 2em;

    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.blended_grid{
width : 1370px;
overflow : auto;
margin : 65px auto 0 auto;
}
.appContent{
  display: flex;
}
.pageHeader{

height : 70px;
width : 1370px;
    
}
.sideTop{
background-color : #c8d3c6;
height : 422px;
width : 295px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
 
}
#blocks{
  overflow-y: auto; 
   overflow-x: hidden;
    height : 382px;
    
}
.main{
background-color : #c8d3c6;
height : 422px;
width : 590px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.tableInput{
background-color : #c8d3c6;
height : 342px;
width : 475px;
    
    margin-bottom: 4px;
    margin-top: 4px;
}
#tableCurrent{
    height: 302px;
    width:475px;
    overflow-x: auto;
    overflow-y: auto;
}
.tableOutput{
width : 475px;
height : 300px;
background-color : #c8d3c6;
    
}
#tableOutput1{
    height: 260px;
    width:475px;
    overflow-x: auto;
    overflow-y: auto;
}
.sideBottom{
width : 295px;
height : 220px;
background-color : #c8d3c6;
    margin-right: 4px;
   
    
}
#tables{
  overflow-y: scroll; 
   overflow-x: hidden;
    height : 180px;
    
}
.console{
background-color : #c8d3c6;
height : 150px;
width : 590px;
   
}
#console1{
  overflow-y: auto; 
    overflow-x: auto; 
    height : 110px;
    width : 590px;
}
.stripe{

height : 40px;
width : auto;
}
.buttonbox{
   background-color : #c8d3c6;
height : 66px;
width : 590px; 
    margin-bottom: 4px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.trash {
  background-color: #008080;
  border-style: dotted;
    border-width: 2px;
  border-color: white;
    height :60px; width: 555px; float: left;
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 60px;
  
}

.trash:hover {background-color: #3e8e41;
    border-color: red;
}

.trash:active {
  background-color: #3e8e41;
  
}
.boxes {
	color :white;
    font-size: 20px;
    text-align: center;
	width: 274px;
	height: 33px;
   
	font-family: Arial, Helvetica, sans-serif;
	
	
	background: -moz-linear-gradient(
		top,
		#ffcb69 0%,
		#f0a733 50%,
		#f2a324 92%,
		#ffb730);
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #965F06;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	text-shadow:
		1px 1px 2px rgba(000,000,000,0.7),
        
	
}
.boxes2 {
	color :white;
    background: #c8d3c6;
    font-size: 20px;
    text-align: center;
	width: 274px;
	height: 35px;
       
	font-family: Arial, Helvetica, sans-serif;
	
	
	
	
	
	
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #008080;
    color: white;
}
.boxes3 {
	color :white;
    font-size: 20px;
    text-align: center;
	width: 274px;
	height: 33px;
   line-height:33px;
	font-family: Arial, Helvetica, sans-serif;
	
	transition: all .2s ease-in-out;
	background: -moz-linear-gradient(
		top,
		#ffcb69 0%,
		#f0a733 50%,
		#f2a324 92%,
		#ffb730);
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #965F06;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	text-shadow:
		1px 1px 2px rgba(000,000,000,0.7),
        
	
}.boxes3:hover { transform: scale(1.1); }


.disable-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
input[type=text] {
    width: 30%;
    background: transparent;
    color: aliceblue;
    float: right;
    margin-right: 20px;
    margin-top: 2px;
   outline: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}
.middleDiv {
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
input::placeholder {
  color: #cdcdc1;
}
h4{
    font-size: 28px;
   font-family: ‘Goudy Old Style’, garamond, ‘book antiqua’, ‘Times New Roman’, Times, serif sequence;
    text-align: center;
}

::-webkit-scrollbar
{
  width: 17px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}